@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-background-dark: #111827;
  --color-text-dark: #f9fafb;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
